# Virtual environment
venv/
ENV/
env/
.venv/

# Environment secrets
.env

# Database file
*.db
*.sqlite3

# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ipynb_checkpoints/
